<img class="iphone-layer" style="position: fixed;" src="/assets/iphone-frame-masked-mock.png">
<div class="container">
    <div class="red stretch">.</div>
</div>
<div class="container">
    <div class="green stretch">.</div>
</div>
<div class="container">
    <div class="blue stretch">.</div>
</div>
